:root {
  --primary-color: #0d008b;
}
body {
  overflow: hidden;
  font-family: sans-serif;
}
.board {
  cursor: move;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.panel {
  font-size: 14px;
  background: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  box-shadow: 0 5px 10px #00000020;
  border-radius: 5px;
  padding: 10px;
}
button {
  background-color: var(--primary-color);
  border: 0;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  min-width: 60px;
  min-height: 25px;
  cursor: pointer;
}
select {
  padding: 3px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
label {
  display: flex;
  align-items: center;
}
label > *:first-child {
  color: var(--primary-color);
  width: 100px;
}
.controls {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: flex;
}
.controls button {
  margin-right: 8px;
  min-width: 60px;
}
.generation {
  flex: 1;
  text-align: right;
  font-size: small;
  color: darkgray;
}
.pattern-selector {
  margin-bottom: 8px;
}
.pattern-selector select {
  width: 200px;
}
.pattern-selector button {
  margin-left: 4px;
}

input[type='range'] {
  height: 25px;
  -webkit-appearance: none;
  margin: 0 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(30, 64, 175);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid rgb(30, 64, 175);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: rgb(30, 64, 175);
  opacity: 0.8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: rgb(30, 64, 175);
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(30, 64, 175);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid rgb(30, 64, 175);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: rgb(30, 64, 175);
  opacity: 0.8;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: rgb(30, 64, 175);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: rgb(30, 64, 175);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid rgb(30, 64, 175);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: rgb(30, 64, 175);
  opacity: 0.8;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: rgb(30, 64, 175);
}
input[type='range']:focus::-ms-fill-upper {
  background: rgb(30, 64, 175);
}
